
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Open Sans', sans-serif;
  src: font-weight: normal;
  font-style: normal;
  
}

#container{
  background-color: transparent;
  height:1000px;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}


/* NAVIGATION BAR */

li{
  display: inline;
    color:black;
    text-align: center;
    padding: 3rem 2rem;
    text-decoration: none;
    font-size: 1em;

  }
  
  .nav {
    background:transparent;
    color: black;
    list-style:none;
    text-align: center;
    float: center;

  }
  
  .nav > li {
    display: inline-block;

  }
  
  .nav > li > a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: black;

  }

ul li a:hover {
  color: rgb(75, 73, 73);
}



/* TEXT ELEMENT STYLES */

h1 {
  color:black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 4.5rem;
  padding-bottom: 0;
  padding-top: 8rem;
  margin:auto; 
}

h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 1.6em;
  font-weight: 600;
  padding-top: 1em;
}

h4 {
  color:black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 4.5rem;
  padding-bottom: 3rem;
  margin:auto;
}

h5 {
  color:lightslategray;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
p{
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: grey;
  font-size: 1em;
  
}
p.blogtemplate {
  color: rgb(20, 19, 19);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  line-height: 1.8em;

}


/* BODY */
.content {
  padding-top:4rem;
  overflow: hidden;
  float: center;
  margin-left: 100px ;  
  margin-right: 100px;
}

div.a {
  text-indent: 50px;
}

div.b {
  text-indent: 80px;
}

/* IMAGE BOXES */
.post1 {
  width:450px;
  height:300px;
  box-shadow: 8px 8px 10px rgb(207, 207, 207);
}

.post2 { 
  width:450px;
  height:300px;
  box-shadow: 8px 8px 10px rgb(207, 207, 207);
}

.post3 {
  width:100%;
  height:200px;
  box-shadow: 8px 8px 10px rgb(207, 207, 207);
}

.post4 {
  width:100%;
  height:200px;
  box-shadow: 8px 8px 10px rgb(207, 207, 207);
}

.post5 {
  width:100%;
  height:200px;
  box-shadow: 8px 8px 10px rgb(207, 207, 207);
}

.post6 {
  width:100%;
  height:200px;
  box-shadow: 8px 8px 10px rgb(207, 207, 207);
}

.post7 {
  width:100%;
  height:200px;
  box-shadow: 8px 8px 10px rgb(207, 207, 207);
}

.post8 {
  width:100%;
  height:200px;
  box-shadow: 8px 8px 10px rgb(207, 207, 207);
}
.left {
  text-align: center;
  background-color: transparent;
}

.right {
  text-align: center;
  background-color: transparent;
  padding-bottom: 20px;
  
}

.middle {
  text-align: center;
  background-color: transparent;
}

.container-image {
  margin-left: 43%;
  margin-bottom: 20%;
  padding-top: 4rem;
}


/* ROWS */
.row3{
  height:100%;
  width: 100%;
  overflow: hidden;  

}
.row4{
  height:100%;
  width: 100%;
  overflow: hidden;  
  padding-bottom: 8rem;
}
.row5{
  padding-top:8rem;
  height:100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: rgb(238, 238, 238);
}

/* BUTTON STYLE */
.button {
  text-align: center;
  width: 100%;
  height: 100%;
  position: inline;
  background-color: rgb(248, 248, 248);
  display: inline-block;
  border: none;
  font-size: 1rem;
  box-shadow: 8px 8px 10px rgb(207, 207, 207);
}
a{
  display: block;
}
a:link, a:visited {
  text-decoration: none;
  color: grey; 
}

.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: rgb(212, 212, 212);
  color: white;
}


/* FOOTER */
h3{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 1.6em;
  font-weight: 600;
  color: grey;
  margin-top: 10px;
  margin-bottom: 10px;

}

/* IMAGES SPRINT3 */

img {
  height: auto;
  width:100%;
}

.blog-content-img-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.blog-img-container {
  display:block;
  width: 100%;
  margin-top: 1rem;
  overflow: hidden;
}


/* Media Query for 768px */

@media only screen and (max-width: 768px) {
.nav{
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  .container{
  flex-direction: column;
  padding: 4rem;
  margin: 0;
  margin-top: -5rem;
  }

  @media only screen and (max-width: 768px) {
    .row2, .row3 {
    flex-direction: column;
  }

@media only screen and (max-width: 768px) {
  .post1, .post2, .post3, .post4, .post5, .post6, .post7{
    display: none;
}

@media only screen and (max-width: 768px) {
  [class=content] {
    text-align: left justify;
    margin-left: 0;
    font-size: 1.3rem;
    width: 100%;
  
  }
@media only screen and (max-width: 768px) {
  h2 {
    text-align: left;
    margin-left: 0;
    font-size: 2rem;
    }

  
  @media only screen and (max-width: 768px) {
  h5 {
    text-align: left;
    margin-left: 0;
    font-size: 1.3rem;
    }

  @media only screen and (max-width: 768px) {
  h4 {
    text-align: left;
    margin-left: 0;
    font-size: 2.5rem;
    }

  @media only screen and (max-width: 768px) {
  .blog-content-img-container{
    flex-direction: column;
    display: inline;
      }
  
  @media only screen and (max-width: 768px) {
  p {
    text-align: left justify;
    font-size: 1.4rem;
    line-height: 2rem;
    }

  @media only screen and (max-width: 768px) {
  .container-image {
    display: none;
      }

/* Media Query for 600px */

@media only screen and (max-width: 600px) {
  .nav{
    font-size: 12px;
  }
  
  @media only screen and (max-width: 600px) {
  .container{
    flex-direction: column;
    padding: 4rem;
    margin: 0;
    margin-top: -5rem;
    }

  @media only screen and (min-width: 600px) {
  .row2, .row3 {
    flex-direction: column;
    }
  
  @media only screen and (max-width: 600px) {
  .post1, .post2, .post3, .post4, .post5{
    display: none;
  }
  
  @media only screen and (max-width: 600px) {
  [class=content] {
    text-align: left justify;
    margin-left: 0;
    font-size: 1.3rem;
    width: 100%;
    
    }
    
  @media only screen and (max-width: 600px) {
   h5 {
    text-align: left;
    margin-left: 0;
    font-size: 1.3rem;
  }

  @media only screen and (max-width: 600px) {
  h4 {
    text-align: left;
    margin-left: 0;
    font-size: 2.5rem;
  }
  @media only screen and (max-width: 600px) {
  p {
    text-align: left justify;
    font-size: 1.4rem;
    line-height: 2rem;
  
  }

  @media only screen and (max-width: 600px) {
  .blog-content-img-container{
    height:70%;
    width: 70%;
    flex-direction: column;
    display: inline;
        
  }
    
  